<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Classfication:</strong>
    <%= course.classfication %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= course.language %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor_id %>
  </p>

</div>
